.main {
  flex-flow: column;
  align-items: center;
  gap: var(--gap, 3rem);
}

.progress {
  position: relative;
}

.timer {
  position: absolute;
  top: 200px;
  left: 150px;
}

.timer-list {
  list-style: none;
  display: flex;
  padding: 0.5em;
  border-radius: 20px;
  gap: 0.5rem;
  background-color: var(--bg-secondary);
}

.timer-item {
  padding: 0.5em 1em;
  cursor: pointer;
}

.timer-item.active {
  background-color: var(--bg-active);
  border-radius: 20px;
  color: var(--text-secondary);
}

.progress {
  background-color: var(--bg-secondary);
  border-radius: 50%;
}
